text {
  text-anchor: middle;
  font-family: helvetica;
  font-size: 16pt;
  fill: white;
  stroke: black;
  stroke-opacity: 70%;
  stroke-width: 1px;
  font-weight: bold;
}

.tile {
  fill: blue;
}

.tile.desert {
  fill: #d3ad7e;
}

.tile.sheep {
  fill: #95ba12;
}

.tile.lumber {
  fill: #326031;
}

.tile.brick {
  fill: #a34b35;
}

.tile.stone {
  fill: #79868f;
}

.tile.wheat {
  fill: #f3cd00;
}

.border {
  fill: none;
  stroke: black;
}

.node {
  z-index: 1000;
  fill: white;
  stroke: black;
  r: 5;
}